<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  
  <!--div *ngIf="showUser">Hello, {{userName}}
    <input type="button" (click)="logout()" value="Logout" class="logout">
  </div-->

  <div *ngIf="showUser" class="user-login">
    <button type="button" (click)="dropdown()">Hello, {{userName}}</button>
      <ul *ngIf="isOpen">
        <li><a [href="#"]>HTML</a></li>
      </ul>
    <input type="button" (click)="logout()" value="Logout" class="logout">
  </div>

  
  <div *ngIf="!showUser">
    <a class="login-router" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Login/Signup</a>  
  </div>
</nav>

